<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>

    <header class="header">
        <div class="schoolTitle">
            <h1>XYZ SCHOOL</h1>
        </div>
        <input type="checkbox" id="menuBar">
        <label for="menuBar">Menu</label>
        <nav class="nav">
            <ul class="navList">
                <li class="navLink"><a href="#">Home</a></li>
                <li class="navLink"><a href="program_feeStructure">Programs And Fee-Structure</a></li>
                <li class="navLink"><a href="Staff">Staff</a></li>
                <li class="navLink"><a href="Admissions">Admissions</a></li>
                <li class="navLink result"> <a href="#">Results</a>
                    <ul>
                        <li> <a href="schoolResult"> School</a></li>
                        <li> <a href="collageresult"> Collage</a></li>
                    </ul>
        </nav>
    </header>
    <div class="container">
        <div class="aboutschool">
            <b> WELCOME TO XYZ SCHOOL PLATEFORM</b>
        </div>
    </div>

</body>

</html>