<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/programs.css">
</head>

<body>

  <div class="heading">
    <h1> Here is the details of programs offered by XYZ school-</h1>
  </div>
  <div class="schoolheading">
    <h2>For schooling-</h2>
  </div>
  <div class="schclg">

    <table>
      <tr>
        <th>Class</th>
        <th>Medium</th>
        <th>Board</th>
        <th>Tuition Fee</th>
        <th>Hostal fee (per month)</th>
      </tr>
      <tr>
        <td>6th</td>
        <td>Hindi</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>6th</td>
        <td>English</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>7th</td>
        <td>Hindi</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>7th</td>
        <td>English</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>7th</td>
        <td>English</td>
        <td>CBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>8th</td>
        <td>Hindi</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>8th</td>
        <td>English</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>8th</td>
        <td>English</td>
        <td>CBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>9th</td>
        <td>Hindi</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>9th</td>
        <td>English</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>9th</td>
        <td>English</td>
        <td>CBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>10th</td>
        <td>Hindi</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>10th</td>
        <td>English</td>
        <td>RBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>10th</td>
        <td>English</td>
        <td>CBSE</td>
        <td>8578</td>
        <td>8678</td>
      </tr>

    </table>

  </div>

  <div class="collageheading">
    <h2>For Undergaduation-</h2>
  </div>
  <div class="schclg">

    <table>
      <tr>
        <th>Program Name</th>
        <th>Stream</th>
        <th>Course Duration</th>
        <th>Tuition Fee</th>
        <th>Hostal fee (per month)</th>
      </tr>
      <tr>
        <td>Btech</td>
        <td>ECE</td>
        <td>4 Years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>Btech</td>
        <td>CSE</td>
        <td>4 Years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>Bsc</td>
        <td>Mathametics</td>
        <td>3 years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>Bsc</td>
        <td>Physics</td>
        <td>3 Years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>BA</td>
        <td>Hisotry</td>
        <td>3 Years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
      <tr>
        <td>BA</td>
        <td>Politechnology</td>
        <td>3 Years</td>
        <td>8578</td>
        <td>8678</td>
      </tr>
  </div>
</body>

</html>